<nav class="navbar navbar-expand navbar-light grad">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="my-pets">My pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add-pets">Add pets</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" href="all-pets">Show all pets</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center" *ngIf="!getCurrentValue">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center" *ngIf="getCurrentValue">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button (click)="logout()">Logout</button>
          </li>
        </ul>
      </div>

    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<!-- The routed views render in the <router-outlet>-->
<div class="container">
  <router-outlet></router-outlet>
</div>
